@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fortawesome/fontawesome-free';
@import 'tiny-slider/dist/tiny-slider.css';
@import 'tippy.js/dist/tippy.css';

@import 'base/index';
@import 'components/index';
