.card__slider {
  position: relative;
}

.chevron {
  color: rgba(84,84,84, 0.6);
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    color: theme('colors.blue.600');
    opacity: 0.8;
  }
}

.chevron-right {
  right: -10px;
}

.chevron-left {
  left: -10px;
}
